@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Palladio';
    src: url('../fonts/palladio.woff') format('woff'),
        url('../fonts/palladio.ttf') format('ttf');
}

@keyframes hamOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes hamClose {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 0;
    }
}

@keyframes marquee {
    0% {
        transform: translate3D(0%, 0, 0);
    }

    100% {
        transform: translate3D(-100%, 0, 0);
    }
}

.hamOpenNow {
    animation: 0.5s ease-in-out 0s hamOpen;
}

.hamCloseNow {
    animation: 0.5s ease-in-out 0s hamClose;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0%;
    overflow-x: hidden;
}

nav {
    background: linear-gradient(to bottom, #283991, #192661);
    margin-top: 1vh;
    margin-right: 10vw;
    z-index: 100;
    max-width: 100vw;
    width: 100vw;
    display: inline-flex;
    margin: 0%;
    box-sizing: border-box;
    height: 10vh;
    max-height: 75px;
    min-height: 50px;
    position: fixed;
    align-items: center;
}

#headerExtend {
    background-color: #f3f3f3;
    margin-right: 10vw;
    max-width: 100vw;
    width: 100vw;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: -1vh;
    box-sizing: border-box;
    height: 10vh;
    max-height: 75px;
    min-height: 50px;
    position: relative;
}

.navImg {
    padding: 1%;
}

.navImg img:hover {
    cursor: pointer;
}

#navLeft div {
    display: inline;
    position: relative;
}

#hamIcon img {
    margin-top: 0.5vh;
    margin-right: 0.1vw;
    padding-left: 0.7vw;
    width: 3vw;
    height: auto;
}

#searchButton {
    margin-left: auto;
}

#searchButton img {
    padding-top: 0vh;
    margin-right: 0.7vw;
    /*margin-left: 52vw;*/
    width: 3vw;
    height: auto;
    position: relative;
}

nav input {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px white solid;
    font-size: 2vw;
    margin-left: auto;
    margin-right: -26vw;
    position: relative;
    outline: none;
    font-family: 'Rubik', sans-serif;
}

nav input:focus {
    outline: none;
}

nav button {
    background: none;
    border: none;
    margin-top: 0.4vh;
    height: auto;
    position: relative;
}

::placeholder {
    color: #CCCCCC;
    font-style: italic;
    font-family: 'Rubik', sans-serif;
}

#navRSCLogo img {
    padding-top: 0.6vh;
    padding-left: 0.4vw;
    margin-right: 0.3vw;
    width: 2.9vw;
    height: auto;
}

#navRSCText,
#navSep {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#navSep {
    font-size: 1vh;
}

#navRSCText {
    margin-top: 2.5vh;
    text-decoration: none;
}

#navRSCText {
    width: 30vw;
    font-size: 4vh;
}

#navSep {
    font-size: 6vh;
    margin-left: 0.2vw;
}

#navRSCText p:hover {
    text-decoration: none;
}

header {
    background-color: #f3f3f3;
    padding: 2%;
    padding-bottom: 0%;
    width: 100vw;
    overflow: hidden;
    float: left;
    margin-top: 0;
    border: 0;
    align-items: center;
}

header div {
    display: inline;
    vertical-align: middle;
}

#headerImage {
    float: left;
}

#headerImage img {
    width: 16vw;
}

#headerTitle {
    margin-top: -6vh;
    margin-bottom: -3vh;
    margin-left: 2.5vw;
    padding-top: -100vh;
    padding-bottom: -100vh;
    font-family: 'Palladio';
    font-size: 4vw;
    float: left;
}

#headerTitle h3 {
    font-weight: 500;
}

hamburger-menu {
    width: 100vw;
    height: 100vh;
}

#hamWhite {
    position: fixed;
    z-index: 99;
    margin-top: 9vh;
    background-color: white;
    width: 30vw;
    height: 91vh;
    overflow-y: auto;
    opacity: 1;
}

#hamBlack {
    position: fixed;
    z-index: 98;
    margin-top: 0vh;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

#hamHr {
    width: 90%;
    border-color: #e06666;
}

#hamLinks1 {
    margin-top: 5vh;
}

#hamLinks2 {
    margin-top: 4vh;
}

#hamLinks1 li,
#hamLinks2 li {
    list-style-type: none;
    margin-bottom: 3vh;
    margin-left: -1.3vw;
}

#hamLinks1 {
    margin-bottom: 4.5vh;
}

#hamLinks1 li>* {
    display: inline;
}

.hamArrow {
    position: absolute;
    margin-top: 0.9vh;
    margin-left: 0.6vw;
    font-size: 1.3vw;
}

#hamWhite a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

#hamWhite a:hover {
    text-decoration: underline;
}

.hamExpand a {
    font-size: 1.3vw !important;
}

.hamExpand li {
    margin-bottom: 1.2vh !important;
}

.hamExpand ul:first-child {
    margin-top: 1.6vh;
}

.hamLinkExternal {
    position: absolute;
    margin-left: 0.6vw;
    margin-top: -0.3vh;
    width: 3vw;
    height: auto;
}

#searchWhite {
    position: fixed;
    z-index: 99;
    margin-left: 70vw;
    margin-top: 9vh;
    background-color: white;
    width: 30vw;
    height: 91vh;
    overflow-y: auto;
    opacity: 1;
    border: 2px #595959 solid;
    padding: 1.5vw;
    font-size: 1.5vw;
}

#searchBlack {
    position: fixed;
    z-index: 98;
    margin-top: 0vh;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

#content {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

#homeTopMarquee {
    margin-left: -100vw;
    overflow: hidden;
}

#homeTopMarqueeContent {
    position: absolute;
    white-space: nowrap;
    animation: marquee 240s linear infinite;
}

.homeTopImg {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    height: 20vh;
    width: auto;
}

#homeHr1 {
    margin-top: 24vh;
    width: 95%;
    border-color: #e06666;
}

#homeSchoolInfo {
    margin: 3vh auto;
    width: 95%;
    color: #393939;
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
}

#homeHr2 {
    margin: 0;
    margin-top: 3vh;
    width: 100%;
    border-color: #000000;
}

#homeSlideshow {
    height: 60vh;
    margin: 0;
    padding: 1vw;
    background: linear-gradient(to right, #ffffff, #e2e2e2, #ffffff);
}

#homeLinks {
    height: 60vh;
    margin: 0;
    padding: 1vw;
    background: linear-gradient(to right, #e2e2e2, #ffffff, #e2e2e2);
}

#homeHr3 {
    margin: 0;
    width: 100%;
    border-color: #000000;
}

#homeCollage {
    height: auto;
    width: 90vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#fallbackP {
    margin-top: 25vh;
    margin-left: 1vw;
}

table {
    border-collapse: collapse;
    height: auto;
}

#footer {
    margin: 0;
    width: 100vw;
    border-top: 3px solid #0f0f97;
}

td {
    border: 2px solid #666;
}

#acknowledgement {
    padding: 10px 20px;
    font-family: 'Albert Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

table,
td .internalFooter {
    border: none;
}

table.internalFooter {
    width: 100%;

}

.footerBox {
    width: 50%;
}

.leftInternal {
    width: 70%;
    padding: 10px 20px 10px;
}

.footerImg {
    width: 80%;
    margin-top: 5px;

}

.footerTitle {
    font-size: 20px;
    font-weight: bold;
}

#footerInfo {
    margin: 5px 0px;
}

.socialImg {
    width: 15%;
    margin: 5px 8%;
}

.DOEInternal {
    width: 35%;
}

.DOEThirds {
    padding: 10px 20px;
}

.DOELower {
    padding: 0px 20px 40px 20px;
}

.DOECenter {
    padding: 10px 20px 4px;
    width: 20%;
}

td#DOELogo img {
    width: 60%;
}

.DOEFoot a:hover {
    text-decoration: underline;
}

.DOEFoot a {
    color: black;
    text-decoration: none;
}

.DOEFoot {
    background: linear-gradient(to left, #ffffff, #eeeeee);
}

.RSCFoot {
    background: linear-gradient(to right, #ffffff, #eeeeee);
}

.AckFoot {
    background: linear-gradient(to right, #ffffff, #eeeeee, #ffffff);
}

input[type='search']::-webkit-search-cancel-button {
    background-color: white;
    outline: 1px solid red;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.subjectsBody:after {
    content: "";
    display: table;
    clear: both;
}

#subjectsNav {
    width: 20%;
    float: left;
    position: sticky;
    top: 75px;
}

#subjectsNav a {
    text-decoration: none;
}

.subjectsNavButton {
    width: 90%;
    margin: 14px;
    background-color: #990000ff;
    border-radius: 10px;
    height: 55px;
    font-family: 'Rubik';
    font-size: 30px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}


#subjectsContent {
    width: 77.75vw;
    float: left;
    border-left: 10px solid #192661ff;

}

div.subjectsBody {
    border-right: 10px solid #192661ff;
}

.subject {
    width: 95%;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    font-family: 'Rubik';
}

h4.subject {
    padding: 0;
    font-size: 35px;
}

ul.subject {
    list-style: none;
    margin-top: -20px;
}

ul.subject li:before {
    content: "- ";
}

#art {
    background-color: #ead1dcff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    scroll-margin-top: 80px;
}

#english {
    text-align: right;
    float: right;
    background-color: #FFF2CC;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
}

#HSIE {
    background-color: #D0DFE2;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    clear: both;
    scroll-margin-top: 95px;
}

#languages {
    text-align: right;
    float: right;
    background-color: #FCE5CD;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
}

#maths {
    background-color: #F5CACC;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    clear: both;
    scroll-margin-top: 95px;
}

#PDHPE {
    text-align: right;
    float: right;
    background-color: #D9EAD3;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
}

#science {
    background-color: #D1E1F3;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    clear: both;
    scroll-margin-top: 95px;
}

#TAS {
    text-align: right;
    float: right;
    background-color: #DBD2EA;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
}

img.subjectDescLink {
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
}

a.subjectDescLink {
    color: black;
    font-weight: bold;
}

#religion {
    background-color: #E6B8AF;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    clear: both;
    scroll-margin-top: 95px;
}

#lifeReady {
    text-align: right;
    float: right;
    background-color: #C9DBF8;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
}

#resourcesSearchButton img {
    height: 20px;
    scroll-margin-top: 95px;
}