@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Palladio';
    src: url('../fonts/palladio.woff') format('woff'),
    url('../fonts/palladio.ttf') format('ttf');
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0%;
}

h1 {
    font-family: 'Palladio', serif;
    font-weight: 600;
}

nav {
    background: linear-gradient(to bottom,#283991, #192661);
    max-width: 100vw;
    width: 100vw;
    display: inline-flex;
    margin: 0%;
    box-sizing: border-box;
    height: 10vh;
    max-height: 75px;
    min-height: 50px;
}

.navImg {
    padding: 1%;
}

.navImg:hover {
    cursor: pointer;
}

#navLeft div{
    display: inline;
    position: relative;
}

#hamburgerMenu img {
    margin-top: 0.8vh;
    margin-right: 0.1vw;
    padding-left: 0.7vw;
    width: 3vw;
    height: auto;
}

#searchButton {
    float: right;
}

#searchButton img {
    padding-top: 0vh;
    margin-right: 0.7vw;
    margin-left: 52vw;
    width: 3vw;
    height: auto;
    position: relative;
}

#navRSCLogo img {
    padding-top: 0.5vh;
    padding-left: 0.4vw;
    margin-right: 0.3vw;
    width: 2.9vw;
    height: auto;
}

#navRSCText p, #navSep {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 3vh;
}

#navRSCText p {
    width: 30vw;
}

#navSep {
    margin-top: 1.5vh;
    font-size: 6vh;
    margin-left: 0.2vw;
}

#navRSCText p:hover {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    height:auto;
}

#footer {
    width: 100%;
    border-top: 3px solid #0f0f97;
}

td {
    border: 2px solid #666;
}

#acknowledgement {
    padding: 0% 0.5%;
    font-family: 'Albert Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

table,td .internalFooter {
    border: dashed;
}

table.internalFooter {
    width:100%;
}

.footerBox {
    width: 50%;
}

.leftInternal {
    width: 60%;
    padding: 5px 8px;
}

.footerImg {
    width: 100%;
}

.footerTitle {
    font-size: 20px;
    font-weight: bold;
}

/* button {
    padding: 13px;
    margin: 10px;
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
} */