@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Palladio';
    src: url('../fonts/palladio.woff') format('woff'),
        url('../fonts/palladio.ttf') format('ttf');
}

@keyframes hamOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes hamClose {
    from {
        opacity: 0.3;
    }

    to {
        opacity: 0;
    }
}

@keyframes homeSlideGlowAnim {
    from {
        background-color: rgba(255, 255, 255, 0.7);
    }

    to {
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@keyframes homeSlideUnglowAnim {
    from {
        background-color: rgba(255, 255, 255, 0.8);
    }

    to {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

@keyframes homeSlideArrowBigAnim {
    from {
        width: 2vw;
    }

    to {
        width: 2.5vw;
    }
}

@keyframes homeSlideArrowSmallAnim {
    from {
        width: 2.5vw;
    }

    to {
        width: 2vw;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes homeInfoFadeInAnim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes homeInfoFadeOutAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

:root {
    --homeslideimgheight: 0;
}

.hamOpenNow {
    animation: 0.5s ease-in-out 0s hamOpen;
}

.hamCloseNow {
    animation: 0.5s ease-in-out 0s hamClose;
}

.homeSlideGlow {
    animation: 0.2s ease-in-out 0s homeSlideGlowAnim;
}

.homeSlideUnglow {
    animation: 0.2s ease-in-out 0s homeSlideUnglowAnim;
}

.homeSlideArrowBig {
    animation: 0.2s ease-in-out 0s homeSlideArrowBigAnim;
}

.homeSlideArrowSmall {
    animation: 0.2s ease-in-out 0s homeSlideArrowSmallAnim;
}

.homeInfoFadeIn {
    animation: 0.3s ease-in-out 0s homeInfoFadeInAnim;
}

.homeInfoFadeOut {
    animation: 0.3s ease-in-out 0s homeInfoFadeOutAnim;
}

.homeInfoFadeInComplete {
    opacity: 1;
}

.homeInfoFadeOutComplete {
    opacity: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0%;
    overflow-x: hidden;
}

nav {
    background: linear-gradient(to bottom, #283991, #192661);
    margin-top: 1vh;
    margin-right: 10vw;
    z-index: 100;
    max-width: 100vw;
    width: 100vw;
    display: inline-flex;
    margin: 0%;
    box-sizing: border-box;
    height: 10vh;
    max-height: 75px;
    min-height: 50px;
    position: fixed;
    align-items: center;
}

#headerExtend {
    background-color: #f3f3f3;
    margin-right: 10vw;
    max-width: 100vw;
    width: 100vw;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: -1vh;
    box-sizing: border-box;
    height: 10vh;
    max-height: 75px;
    min-height: 50px;
    position: relative;
}

.navImg {
    padding: 1%;
}

.navImg img:hover {
    cursor: pointer;
}

#navLeft div {
    display: inline;
    position: relative;
}

#hamIcon img {
    margin-top: 0.5vh;
    margin-right: 0.1vw;
    padding-left: 0.7vw;
    width: 3vw;
    height: auto;
}

#searchButton {
    margin-left: auto;
}

#searchButton img {
    padding-top: 0vh;
    margin-right: 0.7vw;
    /*margin-left: 52vw;*/
    width: 3vw;
    height: auto;
    position: relative;
}

nav input {
    background: none;
    color: white;
    border: none;
    border-bottom: 1px white solid;
    font-size: 2vw;
    margin-left: auto;
    margin-right: -26vw;
    position: relative;
    outline: none;
    font-family: 'Rubik', sans-serif;
}

nav input:focus {
    outline: none;
}

nav button {
    background: none;
    border: none;
    margin-top: 0.4vh;
    height: auto;
    position: relative;
}

::placeholder {
    color: #CCCCCC;
    font-style: italic;
    font-family: 'Rubik', sans-serif;
}

#navRSCLogo img {
    padding-top: 0.6vh;
    padding-left: 0.4vw;
    margin-right: 0.3vw;
    width: 2.9vw;
    height: auto;
}

#navRSCText,
#navSep {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

#navSep {
    font-size: 1vh;
}

#navRSCText {
    margin-top: 2.5vh;
    text-decoration: none;
}

#navRSCText {
    width: 30vw;
    font-size: 4vh;
}

#navSep {
    font-size: 6vh;
    margin-left: 0.2vw;
}

#navRSCText p:hover {
    text-decoration: none;
}

header {
    background-color: #f3f3f3;
    padding: 2%;
    padding-bottom: 0%;
    width: 100vw;
    overflow: hidden;
    float: left;
    margin-top: 0;
    border: 0;
    align-items: center;
}

header div {
    display: inline;
    vertical-align: middle;
}

#headerImage {
    float: left;
}

#headerImage img {
    width: 16vw;
}

#headerTitle {
    margin-top: -6vh;
    margin-bottom: -3vh;
    margin-left: 2.5vw;
    padding-top: -100vh;
    padding-bottom: -100vh;
    font-family: 'Palladio';
    font-size: 4vw;
    float: left;
}

#headerTitle h3 {
    font-weight: 500;
}

hamburger-menu {
    width: 100vw;
    height: 100vh;
}

#hamWhite {
    position: fixed;
    z-index: 99;
    margin-top: 9vh;
    background-color: white;
    width: 30vw;
    height: 91vh;
    overflow-y: auto;
    opacity: 1;
}

#hamBlack {
    position: fixed;
    z-index: 98;
    margin-top: 0vh;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

#hamHr {
    width: 90%;
    border-color: #e06666;
}

#hamLinks1 {
    margin-top: 3vh;
}

#hamLinks2 {
    margin-top: 4vh;
}

#hamLinks1 li,
#hamLinks2 li {
    list-style-type: none;
    margin-bottom: 3vh;
    margin-left: -1.3vw;
}

#hamLinks1 {
    margin-bottom: 4.5vh;
}

#hamLinks1 li>* {
    display: inline;
}

.hamArrow {
    position: absolute;
    margin-top: 0.9vh;
    margin-left: 0.6vw;
    font-size: 1.3vw;
}

#hamWhite a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
}

#hamWhite a:hover {
    text-decoration: underline;
}

.hamExpand a {
    font-size: 1.3vw !important;
}

.hamExpand li {
    margin-bottom: 1.2vh !important;
}

.hamExpand ul:first-child {
    margin-top: 1.6vh;
}

.hamLinkExternal {
    position: absolute;
    margin-left: 0.6vw;
    margin-top: -0.3vh;
    width: 3vw;
    height: auto;
}

#searchWhite {
    position: fixed;
    z-index: 99;
    margin-left: 70vw;
    margin-top: 8vh;
    background-color: white;
    width: 30vw;
    height: 91vh;
    overflow-y: auto;
    opacity: 1;
    border: 2px #595959 solid;
    padding: 1.5vw;
    font-size: 1.5vw;
}

#searchBlack {
    position: fixed;
    z-index: 98;
    margin-top: 0vh;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0;
}

#content {
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

#homeTopMarquee {
    margin-left: -100vw;
    overflow: hidden;
}

#homeTopMarqueeContent {
    position: absolute;
    white-space: nowrap;
}

.marqueeAnim {
    animation: 800s linear 0s marquee;
}

.homeTopImg {
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    height: 20vh;
    width: auto;
}

#homeHr1 {
    margin-top: 24vh;
    width: 95%;
    border-color: #e06666;
}

#contactHr1 {
    margin-top: 24vh;
    width: 95%;
    border-color: #e06666;
}

.contactHr2 {
    margin-top: 0;
    width: 95%;
    border-color: #e06666;
}

#homeSchoolInfo {
    margin: 3vh auto;
    width: 95%;
    color: #393939;
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
}

#homeHr2 {
    margin: 0;
    margin-top: 3vh;
    width: 100%;
    border-color: #000000;
}

#homeSlideshow {
    height: 60vh;
    margin: 0;
    padding: 1vw;
    background: linear-gradient(to right, #ffffff, #e2e2e2, #ffffff);
}

#homeLinks {
    height: 60vh;
    margin: 0;
    padding: 1vw;
    background: linear-gradient(to right, #e2e2e2, #ffffff, #e2e2e2);
    text-align: center;
}

#homeLinks a {
    display: inline;
    text-decoration: none;
}

.homeLinkImg {
    width: 20vw;
    height: auto;
    filter: drop-shadow(0px 0.4vh 7px black);
    z-index: 50;
    margin: 0 3vw;
    margin-top: 4.5vh;
}

.homeLinkInfo {
    position: absolute;
    z-index: 10;
    margin: 0;
    margin-top: 4.5vh;
    margin-left: 12.2vw;
    width: 20vw;
    height: 21.85vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 1vh;
    text-decoration: none;
    color: black;
}

#homeLinkInfo2, #homeLinkInfo5 {
    margin-top: -23.4vh;
    margin-left: 38.47vw;
}

#homeLinkInfo3, #homeLinkInfo6 {
    margin-top: -23.4vh;
    margin-left: 64.7vw;
}

.homeLinkTop {
    font-size: 1.4vw;
    font-weight: 700;
}

.homeLinkBottom {
    font-size: 0.9vw;
    font-weight: 500;
    margin-top: 14.6vh;
}

#homeSlideShow { 
    text-align: center;
}

#homeSlideFrame {
    margin-top: 5vh;
}

#homeSlideLeftArrow {
    position: absolute;
    margin-top: 0;
    height: 27vw;
    width: 4vw;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-bottom: 2px black solid;
    background-color: rgba(255, 255, 255, 0.7);
}

#homeSlideRightArrow {
    position: absolute;
    margin-top: 0;
    margin-left: -4vw;
    height: 27vw;
    width: 3.87vw;
    border-top: 2px black solid;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    background-color: rgba(255, 255, 255, 0.7);
}

#homeSlideLeftArrow img {
    margin-top: 12vw;
    width: 2vw;
    rotate: -90deg;
}

#homeSlideRightArrow img {
    margin-top: 12vw;
    width: 2vw;
    rotate: 90deg;
}

#homeSlideInfo {
    margin: 0;
    margin-left: 4.15vw;
    margin-top: 29.1vh;
    width: 32.13vw;
    height: 15vh;
    position: absolute;
    border-bottom: 2px black solid;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 1vh;
    text-decoration: none;
    color: black;
}

#homeSlideInfo strong {
    font-size: 2vw;
}

#homeSlideInfo p {
    margin-top: 0.3vh;
    font-size: 0.8vw;
}

#homeSlideImg {
    width: 40vw;
    height: 27vw;
    --homeslideimgheight: height;
    border: 2px black solid;
}

#homeSlideButtons {
    margin-top: 1vh;
}

#homeSlideButtons a {
    text-decoration: none;
    text-align: center;
}

.homeSlideButton {
    display: inline-block;
    border: 1px #595959 solid;
    background-color: #eee;
    width: 1vw;
    height: 1vw;
    margin: 1vh 0.3vw;
    border-radius: 50%;
    filter: drop-shadow(0px 0.2vh 3px black);
}

.homeHr3 {
    margin: 0;
    width: 100%;
    border-color: #000000;
}

#homeCollage {
    height: auto;
    width: 90vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#contactStuff1Container > *, #contactStuff2Container  > * {
    text-align: center;
}

#contactStuff1, #contactStuff2 {
    margin: 0;
}

#contactStuff1 > *, #contactStuff2 > * {
    margin: 4vh 3vw;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.contactStuffImg {
    width: 8vw;
    height: auto;
}

.contactStuffTitle {
    margin: 0;
    margin-bottom: 0vh;
    font-size: 3vw;
}

#contactMap {
    -webkit-mask-image:url(../img/contactMapMask.png);
    mask-image:url(../img/contactMapMask.png);
    mask-size: 100%;
    margin: 0;
    padding: 0;
}

#contactMapDiv {
    position: absolute;
    margin-top: -31.9vh;
    margin-left: 18vw;
    border: 3px solid black;
    border-radius: 6%;
    padding: 0;
}

#fallbackP {
    margin-top: 22vh;
    margin-left: 1vw;
}

table {
    border-collapse: collapse;
    height: auto;
}

#footer {
    margin: 0;
    width: 100vw;
    border-top: 3px solid #0f0f97;
}

td.footerBox {
    border: 2px solid #666;
}

#acknowledgement {
    padding: 10px 20px;
    font-family: 'Albert Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}

table,
td .internalFooter {
    border: none;
}

table.internalFooter {
    width: 100%;

}

.footerBox {
    width: 50%;
}

.leftInternal {
    width: 70%;
    padding: 10px 20px 10px;
}

.footerImg {
    width: 80%;
    margin-top: 5px;

}

.footerTitle {
    font-size: 20px;
    font-weight: bold;
}

#footerInfo {
    margin: 5px 0px;
}

.socialImg {
    width: 15%;
    margin: 5px 8%;
}

.DOEInternal {
    width: 35%;
}

.DOEThirds {
    padding: 10px 20px;
}

.DOELower {
    padding: 0px 20px 40px 20px;
}

.DOECenter {
    padding: 10px 20px 4px;
    width: 20%;
}

td#DOELogo img {
    width: 60%;
}

.DOEFoot a:hover {
    text-decoration: underline;
}

.DOEFoot a {
    color: black;
    text-decoration: none;
}

.DOEFoot {
    background: linear-gradient(to left, #ffffff, #f3f3f3);
}

.RSCFoot {
    background: linear-gradient(to right, #ffffff, #f3f3f3);
}

.AckFoot {
    background: linear-gradient(to right, #ffffff, #f3f3f3, #ffffff);
}

input[type='search']::-webkit-search-cancel-button { 
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url(../img/clearSearch.png);
    background-size: 20px;
    position: relative;
    top: 5px;
    left: -5px;
}

.subjectsBody:after {
    content: "";
    display:table;
    clear: both;
}

#subjectsNav {
    width: 20%;
    float: left;
    position: sticky;
    top:75px;
}

#subjectsNav a {
    text-decoration: none;
}

.subjectsNavButton {
    width: 90%;
    margin: 14px;
    background-color: #990000ff;
    border-radius: 10px;
    height: 55px;
    font-family: 'Rubik';
    font-size: 30px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}


#subjectsContent {
    width: 76.27vw;
    float: left;
    border-left: 20px solid #192661ff;
    border-right: 20px solid #192661ff;
}

.subject {
    width: 95%;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Rubik';
    font-size: 25px;
    color:#595959;
}

h4.subject {
    padding: 0;
    font-size: 40px;
    font-weight: 400;
    color:black;
}

ul.subject {
    list-style: none;
    margin-top: -20px;
}

ul.subject li:before {
    content: "- ";
}

#art {
    background-color: #ead1dcff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    scroll-margin-top: 95px;
    padding-left: 20px;
    margin-top: 20px;
}

#english {
    text-align: right;
    float: right;
    background-color: #FFF2CC;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
    padding-right: 20px;
}

#HSIE {
    background-color: #D0DFE2;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    clear: both;
    scroll-margin-top: 95px;
    padding-left: 20px;
}

#languages {
    text-align: right;
    float: right;
    background-color: #FCE5CD;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
    padding-right: 20px;
}

#maths {
    background-color: #F5CACC;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    clear: both;
    scroll-margin-top: 95px;
    padding-left: 20px;
}

#PDHPE {
    text-align: right;
    float: right;
    background-color: #D9EAD3;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
    padding-right: 20px;
}

#science {
    background-color: #D1E1F3;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    clear: both;
    scroll-margin-top: 95px;
    padding-left: 20px;
}

#TAS {
    text-align: right;
    float: right;
    background-color: #DBD2EA;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
    padding-right: 20px;
}

img.subjectDescLink {
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
}

a.subjectDescLink {
    color: black;
    font-weight: bold;
}

#religion {
    background-color: #E6B8AF;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    clear: both;
    scroll-margin-top: 95px;
    padding-left: 20px;
}

#lifeReady {
    text-align: right;
    float: right;
    background-color: #C9DBF8;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-right: 0;
    margin-bottom: 20px;
    scroll-margin-top: 95px;
    padding-right: 20px;
}

#english h4.subject, #languages h4.subject, #PDHPE h4.subject, #TAS h4.subject, #lifeReady h4.subject {
    float:right;
    width:100%;
}

table#mainSearchResults thead {
    display: none;
}

#mainSearchResults {
    width:99% !important;
}

.thumbnailBox {
    height: 200px;
    width: 200px;
    background-color: #EEEEEE;
    border: 2px solid gray;
    display: flex;
    align-content: center;
    justify-content: center;
}

.thumbnail {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.resourceDetails {
    width:100%;
    height:200px;
    border-left: 2px solid gray;
}

.tablePadding {
    width: 40px;
}

table.resourceDetails td {
    border-bottom: none !important;
}

.resourceDetailsRow {
    height:50%;
}

img.resourceDetailsImg {
    height:85px;
}

.resourceDetailsTxt {
    margin: 0;
    font-size: 20px;
}

.mainSearchResultsRow {
    height:225px;
}

h4.resourceTitle {
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 500;
    margin:10px 0;
}

#filterImg {
    height:55px;
    margin-top: 15px;
}

.dt-end div:has(#filter) {
    width: 75px;
    margin-left: -20px;
    height: 100px;
    padding-top: 60px;
    z-index: 10;
    margin-right: 30px;
}

details#filter {
    width: 75px;
    offset-position: 10%;
}

details summary::marker {
    content: "";
  }

.resourceDetailsCell {
    width: 22%;
}

.thumbnailCell {
    width: 15%;
}

.paginationImgFlipped {
    width: 20px;
    rotate: 180deg;
}

.paginationImg {
    width:20px;
}

.dt-paging-button:hover {
    background: none !important;
}

div.dt-search label {
    display:none;
}

div.dt-container div.dt-layout-cell.dt-end {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
  }

  div.dt-container div.dt-layout-cell.dt-end div {
    margin: 10px;
  }

  div.dt-layout-cell.dt-start {
    padding-left: 30px !important;
  }

  div.dt-container .dt-search input {
    margin-left: 0px;
  }

.docx {
    display: none;
}

.webResult {
    visibility: hidden;
}

.thumbnailCell, .resourceContent, .resourceDetailsCell {
    border-bottom: 2px solid gray !important;
}

.dt-layout-row:not(.dt-layout-table) {
    display: flex;
    align-content: baseline;
    position: sticky;
    top: 75px;
    background-color: white;
    height: 80px;
    z-index: 2;
}

.dt-layout-row:not(.dt-layout-table):has(.dt-info) {
    display: flex;
    align-items: flex-start;
    top: 155px;
    height:15px;
    border-bottom: 3px solid gray;
    padding-top: 0;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
}

.dt-info {
    font-family: 'Rubik';
    font-size: 15px;
}

.dt-start:has(.dt-info) {
    padding: 0px 18px 10px !important;
}

.dt-start:has(.dt-input) {
    width: 65% !important;
    height:50px !important;
    padding-bottom: 0 !important;
}

.dt-input {
    border-bottom: 3px solid #990000ff !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 82%;
    height:50px;
    align-self: bottom;
    color: #555555 !important;
    font-family: 'Rubik';
    font-size: 28px;
}

.dt-input::placeholder {
    color: #aaa;
}

.dt-input:focus {
    outline: none;
}

#sortContainer {
    display:flex;
    justify-content:left;
    flex-wrap:wrap;
    padding:0;
    margin:15px 0 0;
    height:60px;
    width:30vw;
  }

.dt-end div:has(#sortContainer) {
    width:70%;
    height: 50px;
    margin-right: 0;
}

#sortText {
    font-family: 'Rubik';
    font-size: 30px;
    font-weight: 400;
    align-self: flex-start;
    margin-top: 15px;
  }

.searchIcon {
    height: 40px;
    position: absolute;
    top: 25px;
    left:52%;
}

div.dt-search {
    padding-top: 10px;
    height: 60px;
}

  .select {
    display:flex;
    flex-direction: column;
    position:relative;
    width:200px;
    height:200px;
    margin-top: 8px;
    border: none;
    z-index: 5;
  }
  
  .select:focus {
    border: gray 1px solid;
    background-color: white;
    border-radius: 10px;
  }

  .select:not(:focus) {
    height:45px;
  }
  
.select:not(:focus) .option {
    border-top: none;
}

  .option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:white;
    border-top: #aaa solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:6;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    color:#990000ff;
    border-radius: 2px;
    font-size: 25px;
    font-weight: 400;
  }
  
  .option:hover {
    background:#990000ff;
    color: white;
  }
  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }
  
.selectopt {
    opacity:1;
    position:absolute;
    left:99px;
  }
  
  input.selectopt:checked + label {
    order: 2;
    z-index:7;
    background:#990000ff;
    border-top:none;
    position:relative;
    color: white;
  }
  
  input.selectopt:checked + label:after {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:8;
  }
  
  input.selectopt:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#990000ff;
  }

  #filterOptions {
    left: -70px;
    position: relative;
    width: 130px;
    background-color: white;
    border-radius: 10px;
  }

  .filterCategory {
    margin:2px 0 8px 0;
    display: flex;
    font-family: 'Rubik';
    font-size: 18px;
    font-weight: 600;
  }

  .singleFilter {
    margin:5px 0px 5px -5px !important;
    display: flex;
  }

  #clearFilter {
    display: flex;
    color: #990000ff;
  }

  .readMore {
    font-family: 'Rubik';
    font-size: 12px;
    color: #444;
    font-style: italic;
  }

  .resourceBlurb {
    font-family: 'Rubik';
    color: #444;
    height: 130px;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }