@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
    font-family: 'Palladio';
    src: url('palladio.woff') format('woff'), /* Modern Browsers */
}

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Palladio', serif;
}

nav {
    border: 3px solid black;
    background: linear-gradient(to bottom,#283991, #141945);
    border-radius: 25px;
    width: 400px;
}

nav ul li {
    display: inline;
    font-size: 120%;
}

nav ul li::after {
    content: " | ";
    color: white;
}

nav ul li:last-child::after {
    content: "";
}

nav ul li:first-child {
    margin-left: -1vw;
}

nav ul li a {
    color: white;
    text-underline-offset: 0.5vh;
}

nav ul li a:visited {
    color: white;
}