@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
    font-family: 'Palladio';
    src: url('palladio.woff') format('woff'), /* Modern Browsers */
}

body {
    font-family: 'Rubik', sans-serif;
    background-position: 0%;
}

h1 {
    font-family: 'Palladio', serif;
    font-weight: 600;
}

nav {
    border: 3px solid black;
    background: linear-gradient(to bottom,#283991, #192661);
    border-radius: 25px;
    width: auto;
    height: auto;
}

nav table tr td {
    display: inline-block;
    font-size: 150%;
    padding: 10px 97px;
    text-align: center;
}

nav table tr td img {
    border-right: none;
    float: inline-end;
}

nav table tr td img:hover {
    cursor: pointer;
}

#searchText {
    padding: 0px;
}

#searchButton {
    padding: 10px;
}

nav table tr:first-child {
    margin-left: 1vw;
    padding-left: 5px;
}

nav table tr td a {
    color: white;
    text-decoration: none;
    text-underline-offset: 5px;
}

nav table tr td a:visited {
    color: white;
}

nav table tr td a:hover {
    text-decoration: underline;
}

nav table tr td a.selected:hover {
    text-decoration: none;
}

button {
    padding: 13px;
    margin: 10px;
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
}

td {
    padding: 5px;
}

table {
    border-collapse: collapse;
}